body{
    background:rgba(0,0,0,0) !important;
}
.container{
    background:linear-gradient(to left,  #4b8e8d,#6bc5d2 );
}

.left-nav{
    background:#fff !important;
}

.left-nav a{
    color:#686a76 !important;
}
.left-nav a.active{
    background: linear-gradient(to left, #6bc5d2, #6bc5d2) !important;
    color: #fff !important;
    border-color:  #4b8e8dx !important;
}
.left-nav a:hover{
    background: linear-gradient(to left, #4b8e8d, #4b8e8d) !important;
    color: #fff !important;
    border-color:  #4b8e8d !important;
}
.container .logo a{
    background: rgba(0,0,0,0) !important;
}